@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}

body {
}

section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.highlight {
  animation: highlight 1s infinite;
}

// background-color: transparent -> tailwindcss primary color -> transparent
@keyframes highlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: theme("colors.primary.700");
  }
  100% {
    background-color: transparent;
  }
}