@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;

  // Custom scrollbar (dark)
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.700");
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: theme("colors.gray.800");
  }
}

body {
}

section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.highlight {
  animation: highlight 1s infinite;
}

// background-color: transparent -> tailwindcss primary color -> transparent
@keyframes highlight {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: theme("colors.primary.700");
  }
  100% {
    background-color: transparent;
  }
}

.border-corners {
  position: relative;

  --bc-border-width: 2px;
  --bc-size: 25px;

  &:before,
  &:after,
  & > :first-child:before,
  & > :first-child:after {
    content: "";
    position: absolute;
    width: var(--bc-size);
    height: var(--bc-size);
    border-color: theme("colors.primary.700");
    border-style: solid;
  }

  &:before,
  &:after {
    top: 0;
  }

  & > :first-child:before,
  & > :first-child:after {
    bottom: 0;
  }

  &:before {
    left: 0;
    border-width: var(--bc-border-width) 0 0 var(--bc-border-width);
  }

  &:after {
    right: 0;
    border-width: var(--bc-border-width) var(--bc-border-width) 0 0;
  }

  & > :first-child:before {
    left: 0;
    border-width: 0 0 var(--bc-border-width) var(--bc-border-width);
  }

  & > :first-child:after {
    right: 0;
    border-width: 0 var(--bc-border-width) var(--bc-border-width) 0;
  }
}

.fly {
  animation: fly 1.5s forwards;
}

// Fly and disappear
@keyframes fly {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.blink {
  animation: blink 1.5s forwards;
}

@keyframes blink {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    opacity: 1;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    opacity: 0;
  }
}
